/*Global*/
a {
  text-decoration: none;
}

/*Navigation*/
nav {
  background-color: #292a2d;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.nav_1 {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.nav_2 {
  color: #8d8d8c;
  margin-right: 15px;
}
